
.title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 30px;
}

.image{
    display: flex;
    height: 350px;
    justify-content: center;
}

.imgContainer{
    height: inherit;
}

.horizontalAlign{
    display: flex;
    flex-direction: row;
}
button{
    background: #82747C;
    border-radius: 30px;
    color: white;
    padding: 0.8rem 3.2rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}
button:disabled{
    background: #e7d8e1;
    cursor: not-allowed;

}